@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 224 70% 98%;
        --foreground: 224 59% 0%;
        --muted: 194 31% 91%;
        --muted-foreground: 194 11% 34%;
        --popover: 224 70% 98%;
        --popover-foreground: 224 59% 0%;
        --card: 224 70% 98%;
        --card-foreground: 224 59% 0%;
        --border: 224 8% 93%;
        --input: 224 8% 93%;
        --primary: 224 53% 14%;
        --primary-foreground: 224 53% 74%;
        --secondary: 194 53% 14%;
        --secondary-foreground: 194 53% 74%;
        --accent: 254 53% 14%;
        --accent-foreground: 254 53% 74%;
        --destructive: 11 80% 24%;
        --destructive-foreground: 11 80% 84%;
        --ring: 224 53% 14%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 224 57% 1%;
        --foreground: 224 33% 97%;
        --muted: 194 31% 9%;
        --muted-foreground: 194 11% 66%;
        --popover: 224 57% 1%;
        --popover-foreground: 224 33% 97%;
        --card: 224 57% 1%;
        --card-foreground: 224 33% 97%;
        --border: 224 8% 15%;
        --input: 224 8% 15%;
        --primary: 224 53% 14%;
        --primary-foreground: 224 53% 74%;
        --secondary: 194 53% 14%;
        --secondary-foreground: 194 53% 74%;
        --accent: 254 53% 14%;
        --accent-foreground: 254 53% 74%;
        --destructive: 11 80% 60%;
        --destructive-foreground: 0 0% 0%;
        --ring: 224 53% 14%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            'rlig' 1,
            'calt' 1;
    }
}

@layer utilities {
    .step {
        counter-increment: step;
    }

    .step:before {
        @apply absolute inline-flex h-8 w-8 items-center justify-center rounded-full bg-muted text-center -indent-px text-base font-medium;
        @apply ml-[-41px];
        content: counter(step);
    }
}

@media (max-width: 640px) {
    .container {
        @apply px-4;
    }
}
